<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124116953140-p76tu9qbfqpilcp46tsl9318t850bik0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124116953140-p76tu9qbfqpilcp46tsl9318t850bik0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124116953140-bijekbh7ksrlid7bk3rocl4c9dracfd0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBt6UEpn55wyFwHUPNVjdR-D64J9WFW7_U</string>
	<key>GCM_SENDER_ID</key>
	<string>124116953140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cahubb.pakistan</string>
	<key>PROJECT_ID</key>
	<string>ca-hubb</string>
	<key>STORAGE_BUCKET</key>
	<string>ca-hubb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124116953140:ios:25f3b9243c4b13515e4261</string>
	<key>DATABASE_URL</key>
	<string>https://ca-hubb-default-rtdb.firebaseio.com</string>
</dict>
</plist>